.body{
    background-color:black;
    margin: 10px;
}
.linkedin{
    background-color:#B5B5E0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    right: 100px;
    margin-left: 900px;
    cursor: pointer;

    /* margin-top: 10px;
    margin: 10px; */

}
.Git_hub{
    background-color:#B5B5E0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    right: 100px;
    margin-left: 935px;
    cursor: pointer;
 
}

.div_linkedin{
    border: solid;
    border-width: 2px;
    margin: 50px;;
    height: 100px;
    border-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}
.Linked_logo{
    width: 100px;
}

.div_GitHub{
    border: solid;
    border-width: 2px;
    margin: 50px;;
    height: 100px;
    border-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
    
}
.github-logo-icon{
    width:60px;
}

.class_home{
    background-color:#B5B5E0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    right: 50px;
    margin-left: 1110px;
    cursor: pointer;
 
}